/* Variables */

:root {
  --basic-black: #000000;
  --basic-light-black: #444444;
  --basic-light-dark: #4D4D4D;
  --basic-exclusive-dark: #666666;
  --basic-grey: #EEEEEE;
  --basic-dark-grey: #DFDFDF;
  --basic-active-grey: #D5D5D5;
  --basic-filter-grey: #D7DCDF;
  --basic-popup-grey: #D7DCDE;
  --basic-light-grey: #E1E1E1;
  --basic-input-hover-grey: #b4b9bb;
  --basic-red: #FB565A;
  --basic-dark-red: #E74246;
  --basic-active-red: #D7373B;
  --basic-green: #00CA74;
  --basic-dark-green: #00BC6C;
  --basic-active-green: #00AA62;
  --basic-yellow: #EFC84A;
  --basic-dark-yellow: #EAB534;
  --basic-active-yellow: #E5A722;
  --basic-white: #ffffff;
  --basic-special-white: rgba(255,255,255,0.3);

  --special: #283136;
}

/* Global */

body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);

}

/* visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* container */

.container {
  width: 1160px;
  margin: 0 auto;
}

/* buttons */

.button {
  padding-top: 16px;
  padding-bottom: 16px;

  font-size: 16px;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);

  background-color: var(--basic-red);

  border: none;

}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-items: start;
}

/* Main navigation */

.main-header {
  background-color: var(--basic-grey)
}

/* Logo */

.main-header-logo {
  width: 160px;
  height: 65px;
}

.main-nav {
  margin-top: 49px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);

}

.main-nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  margin-top: 16px;
  margin-right: 47px;

}

.site-navigation-item {
  margin-right: 44px;
}

.site-navigation-item:last-child {
  margin-right: 0;
}

.site-navigation-list a {
  text-transform: uppercase;
}

.basket-nav {
  position: relative;
  padding-top: 13px;
  padding-left: 40px;
  text-transform: uppercase;


}

.basket-nav::before {
  content: "";
  position: absolute;
  display: block;

  top: 21px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

/* User navigation */

.site-navigation-list a,
.basket-nav a {
  color: var(--basic-black);
}

.site-navigation-list a:hover,
.site-navigation-list a:focus,
.basket-nav a:hover,
.basket-nav a:focus {
  color: var(--basic-red);
}

.site-navigation-list a:active,
.basket-nav a:active {
  opacity: 0.3;
}

/* Slider*/

.slider {
  background-color: var(--basic-grey);
}

.slider-list {

  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-list-item {
  display: none;
  padding-top: 60px;
  padding-bottom: 73px;
}

.slider-list-item:nth-child(1) {
  display: block;
}


.slider-list-item h3 {
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  text-align: left;


}

.slider-list-item p {
  margin-top: 30px;
  margin-left: 2px;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: var(--special);

}

.slider-list-item.first-slider {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: 100% -14px;
  background-color: var(--basic-grey);
}

.slider-list-item.second-slider {
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: var(--basic-grey);
}

.slider-list-item.third-slider {
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: var(--basic-grey);
}

.button-slider {
  display: inline-block;
  min-width: 240px;

  padding-left: 56px;
  padding-right: 55px;
  margin-top: 23px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.button-slider:hover,
.button-slider:focus {
  background-color: var(--basic-dark-red);
}

.button-slider:active {
  background-color: var(--basic-active-red);
}

.button-slider:active {
  color: var(--basic-white);
}

/* products */

.products {
  margin-top: 79px;
  margin-bottom: 155px;
}

.products-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.products-list-item {
  display: flex;
  flex-direction: column;
  width: 300px;

}

.products-list-item:last-child {
  margin-right: 60px;
}


.products-list-item p {
  max-width: 260px;
}

.products-list-item img {
order: -1;
}

.products-list-item p {
  margin: 0;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--special);
}


.products-list-item h3 {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.button-products {
  width: 160px;
}

.button-products {
  padding-left: 40px;
  padding-right: 39px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.button-products:hover,
.button-products:focus {
  background-color: var(--basic-dark-red);
}

.button-products:active {
  background-color: var(--basic-active-red);
}

.button-products:active {
  color: var(--basic-special-white);
}

.button-products.second-button {
  background-color: var(--basic-green);
}

.button-products.second-button:hover,
.button-products.second-button:focus {
  background-color: var(--basic-dark-green);
}

.button-products.second-button:active {
  background-color: var(--basic-active-green);
}

.button-products.second-button:active {
  color: var(--basic-special-white);
}

.button-products.third-button {
  background-color: var(--basic-yellow);
}

.button-products.third-button:hover,
.button-products.third-button:focus {
  background-color: var(--basic-dark-yellow);
}

.button-products.third-button:active {
  color: var(--basic-special-white);
}

/* Promo  */

.promo {
  margin-top: -27px;
  padding-bottom: 64px;
  border-bottom: 2px solid var(--basic-grey);
}

.promo-wrapper {
  display: flex;
  justify-content: space-between;
}

.promo-statistics-list {
  display: flex;
}

.promo-text {
  max-width: 654px;

}

.promo-text h3 {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 32px;
  font-size: 45px;
  line-height: 45px;
  text-align: left;

}

.promo-text p {
  margin-bottom: 40px;
  max-width: 648px;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: var(--special);
}

.promo-text b {
  display: inline-block;
  margin-bottom: 23px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: var(--special);
  text-transform: uppercase;
}

.promo-text-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-text-item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 35px;
}

.promo-text-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 11px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.promo-text-item:last-child {
  margin-bottom: 0;
}


.promo-statistics {
  max-width: 360px;
  padding-top: 220px;
  background-image: url("../img/nerds-illustration.png");
  background-size: 360px 208px;
  background-repeat: no-repeat;

}

.promo-statistics-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-statistics span {
  display: inline-block;
  margin-top: 21px;
  margin-bottom: 31px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}


.promo-statistics-item p:first-child {
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.promo-statistics-item p:nth-child(2) {
  display: inline-block;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--special);

}

/* partners */

.partners {
  margin-top: 43px;
  margin-bottom: 45px;
  padding-bottom: 38px;
  border-bottom: 2px solid var(--basic-grey);
}

.partners-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 32px;
  padding-right: 41px;
}

.partners-item {
  position: relative;
}

.partners-item:first-child {
  margin-right: 47px;
  padding-right: 48px;
}

.partners-item:nth-child(2) {
  margin-right: 59px;
  padding-right: 44px;
}

.partners-item:nth-child(3) {
  margin-right: 63px;
  padding-right: 55px;
}

.partners-item:nth-child(odd) {
  padding-top: 18px;
}

.partners-item:nth-child(-n+3)::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 10px;
  width: 2px;
  height: 52px;
  background-color: var(--basic-grey);
}

/* hidden form*/

.modal {
  position: absolute;
  top: 50%;
  left: 19%;
  width: 960px;
  margin-left: 5px;
  padding-top: 20px;
  padding-bottom: 84px;
  padding-left: 104px;
  padding-right: 99px;
  background-color: var(--basic-white);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal h2 {
  margin-top: 58px;
  font-size: 44px;
  font-weight: 700;
}

.input-group:first-child input {
  margin-left: -3px;
}

.input-group:first-child + div {
  margin-left: 39px;
}

.input-group:first-child label {
  margin-top: 14px;
  margin-left: -3px;
}

.input-group:first-child + div label {
  margin-top: 14px;
  margin-left: 1px;
}

.input-group:last-child label {
  margin-left: -2px;
}

.input-group:nth-of-type(-n+2) input{
  width: 360px;
}

.modal .form-label {
	display: block;
	margin-bottom: 9px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}

.modal .form-input {
  margin-bottom: 34px;
  padding: 14px 12px;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: var(--basic-light-black);
  background-color: transparent;
  border: 2px solid var(--basic-popup-grey);
  border-radius: 5px;
  box-sizing: border-box;
  outline:none;
}

.modal .form-input:hover {
  border-color: var(--basic-input-hover-grey);
}

.modal .form-input:focus {
  border-color: var(--basic-black);
}

.modal .form-input:invalid {
  border-color: var(--basic-dark-red);
}

.form-textarea {
  width: 757px;
  height: 118px;
  padding-top: 10px;
  padding-left: 12px;
  font: inherit;
  color: var(--basic-light-black);
  border-radius: 5px;
  border: 2px solid #d7dcde;
}

.modal .form-textarea:focus {
  border-color: var(--basic-black);
}

.modal .form-textarea:hover {
  border-color: var(--basic-input-hover-grey);
}

.input-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.button-modal {
  min-width: 259px;
  margin-top: 42px;
  margin-left: -2px;
  padding-left: 47px;
  padding-right: 52px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.modal .close-form {
  position: relative;
  bottom:395px;
  right: -480px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: var(--basic-white);
  border: none;
}

.close-form::before,
.close-form::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: var(--basic-red);
  opacity: 0.3;
}

.close-form::before {
  transform: rotate(45deg);
}

.close-form::after {
  transform: rotate(-45deg);
}

/* main-footer */

.main-footer {
  margin-top: 9px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 51px;
  margin-bottom: 68px;
}

.contacts {
  position: relative;
  margin-top: 52px;
  padding-right: 40px;
}

.contacts-address {
  display: inline-block;
  position: absolute;
  top: 54px;
  left: 179px;
  margin: 0;
  padding-top: 32px;
  padding-left: 50px;
  padding-right: 45px;
  padding-bottom: 48px;
  border-radius: 5px;
  background-color: var(--basic-white);
}

.social-list {
  display: flex;
  padding: 0;
}

.social-item {
  margin-right: 10px;
}

.discount-text {
  line-height: 10px;
}

.discount-text p {
  text-align: left;
}


.discount-text {
  margin-right: 219px;
}

.discount-text b {
  font-size: 36px;
  line-height: 37px;
  font-weight: 700;
}

.discount-text p {
  margin-top: 12px;
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-light-black);
}

.contacts h3{
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts-number {
  display: block;
  margin-top: 17px;
  color: var(--basic-exclusive-dark);
}

.contacts p {
  display: inline-block;
  max-width: 210px;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  color: var(--basic-exclusive-dark);

}

.button-contacts {
  display: inline-block;
  margin-top: 33px;
  padding-left: 44px;
  padding-right: 44px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;

}

.button-contacts:hover,
.button-contacts:focus {
  background-color: var(--basic-dark-red);
}

.button-contacts:active {
  background-color: var(--basic-active-red);
}

.button-contacts:active {
  color: var(--basic-special-white);
}


.social {
  text-align: center;
}

.social-list {
  list-style: none;
}


.social-item a {
  position: relative;
  display: inline-block;
  width: 78px;
  height: 78px;
  background-color: var(--basic-light-grey);
  border-radius: 50%;
}

a.logo-vk::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 27px;
  height: 16px;
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

a.logo-facebook::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 23px;
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

a.logo-instagram::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21px;
  height: 21px;
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  transform:translate(-50%, -50%);
}


.social a {
  background-color: var(--basic-light-grey);
}

.social a:hover,
.social a:focus {
  background-color: var(--basic-dark-red);
}

.social a:active {
  background-color: var(--basic-active-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social a:active::before {
  opacity: 0.3;
}

/* Catalog */

.catalog-page h1 {
  margin: 0;
  padding: 76px 0;
  padding-right: 20px;
  padding-bottom: 111px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  background-color: var(--basic-grey);
  text-align: center;
}

.catalog-wrapper {
  display:flex;
  justify-content: space-around;
  margin-top: 4px;
}

.catalog-navigation {
  display: flex;
}

.catalog-filter-list {
  display: flex;
  justify-content: space-between;
}

/* main-nav active*/

.site-navigation-item .active {
  position: relative;
}

  a.active::before {
    position: absolute;
    content: "";
    width: 74px;
    height: 2px;
    top: 37px;
    left: 0;
    background-color: var(--basic-red);
  }

/* filter*/

.filter-item {
  margin-top: 55px;
  padding: 0;
  border: none;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--basic-grey);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--basic-filter-grey);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 80px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  color: var(--special);
  border: none;
  border-radius: 5px;
  background-color: var(--basic-grey);
}

.filter-item-grid {
  margin: 0;
  padding: 0;
  margin-top: 54px;
  border: none;
}

.filter-item-grid legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-item-grid ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-item-grid label {
  padding-left: 10px;
  line-height: 42px;
}

.filter-item-grid li {
  position: relative;
  padding-left: 27px;
}

.filter-item-grid li::before {
  position: absolute;
  top: 11px;
  left: 0;
  content: "";
  width: 25px;
  height: 25px;
  border: 3px solid var(--basic-light-dark);
  border-radius: 50%;
}

.filter-item-features {
  margin: 0;
  padding: 0;
  margin-top: 36px;
  margin-bottom: 57px;
  border: none;
}

.filter-item-features legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-item-features ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-item-features label {
  line-height: 38px;
}

.filter-item-features li {
  position: relative;
  margin-top: 3px;
  padding-left: 36px;
}

.filter-item-features li::before {
  position: absolute;
  top: 8px;
  left: 0;
  content: "";
  width: 26px;
  height: 23px;
  border: 3px solid var(--basic-light-dark);
}

.catalog-layout {
  margin-left: 120px;
}

.catalog-navigation {
  margin-top: 36px;
  margin-left: 2px;
}

.catalog h2 {
  margin-left: 15px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog-filter-list {
  margin-left: 226px;
  list-style: none;
}

.catalog-filter-item:first-child {
  margin-right: 25px;
}

.catalog-filter-item:first-child + li {
  margin-right: 25px;
}

.catalog-filter-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  opacity: 0.3;
}

.catalog-filter-link .checked {
  color: var(--basic-black);
}


.catalog-filter-link:hover,
.catalog-filter-link:focus {
  opacity: 0.6
}

.catalog-filter-link:active {
  color: var(--basic-black);
}

.button-filter {
  min-width: 260px;
  margin-top: -15px;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 88px;
  padding-right: 89px;
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: var(--basic-grey);
  box-sizing: border-box;
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--basic-dark-grey);
}

.button-filter:active {
  background-color: var(--basic-active-grey);
}

.button-filter:active {
  color: var(--basic-special-white);
}

/* Templates */



.templates-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 32px;
  margin-left: 16px;
  margin-bottom: -26px;
}

.templates-cards ul {
  list-style: none;
}

.templates-card-item {
  position: relative;
  flex-shrink: 0;
  width: 360px;
  padding-bottom: 0;
  padding-top: 40px;
  margin-top: 33px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


.templates-card-item:nth-child(5),
.templates-card-item:nth-child(6) {
  margin-top: 28px;
}

.templates-card-item img {
  display: block;
  padding:0;
  margin: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.templates-card-item:first-child,
.templates-card-item:nth-child(2) {
  margin-top: 0;
}

li.templates-card-item::before {
  position: absolute;
  content: "";
  width: 360px;
  height: 40px;
  top: 0;
  left: 0;
  background-image: url("../img/browser.png");
}

li.templates-card-item:hover::before {
  background-image: url("../img/browser2.png");
}

.card-header ul {
  display: flex;
  margin: 0;
  padding: 0;
  padding: 18px 15px;
  list-style: none;
}

.card-content {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 231px;
  padding-top: 7px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
  background-color: var(--basic-grey);
}

.templates-card-item:nth-child(2) .card-content {
  padding-left: 50px;
  padding-right: 50px;
}

.templates-card-item:hover .card-content {
  display:block;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.templates-card-item:hover {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.templates-card-item h3 {
  margin:0;
  padding-top: 21px;
}

.templates-card-item h3 a {
  display: inline-block;
  margin-bottom: -4px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
}

.templates-card-item h3 a:hover,
.templates-card-item h3 a:focus {
  color: var(--basic-red);
}

.templates-card-item h3 a:active {
  opacity: 0.3
}

.templates-card-item p {
  padding-bottom: 18px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-exclusive-dark);
}

.button-templates {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 72px;
  padding-right: 72px;
  box-sizing: border-box;
}

.button-templates:hover,
.button-templates:focus {
  background-color: var(--basic-dark-red);
}

.button-templates:active {
  background-color: var(-basic-active-red);
}


/* Pagination */

.pagination {
  display: flex;
  justify-content: flex-start;
  margin-top: 80px;
  margin-left: 16px;
}

.pagination-button-active {
  min-width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 2px solid var(--basic-grey);
  background-color: var(--basic-white);
}


.pagination-button {
  min-width: 50px;
  height: 50px;
  margin-left: 11px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  line-height: 50px;
  color: var(--basic-black);
  background-color: var(--basic-grey);
}

.pagination-button-next {
  min-width: 260px;
  height: 50px;
  margin-left: 11px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
  color: var(--basic-black);
  background-color: var(--basic-grey);
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: var(--basic-dark-grey);
}

.pagination-button-active:hover,
.pagination-button-active:focus {
  background-color: var(--basic-dark-grey);
}

.pagination-button-next:hover,
.pagination-button-next:focus {
  background-color: var(--basic-dark-grey);
}

.pagination-button:active {
  background-color: var(--basic-active-grey);
}

.pagination-button-active:active {
  background-color: var(--basic-active-grey);
}

.pagination-button-next:active {
  background-color: var(--basic-active-grey);
}
