/* Variables */

:root {
  --basic-black: #000000;
  --basic-light-dark: #D4D4D4;
  --basic-grey: #EEEEEE;
  --basic-dark-grey: #DFDFDF;
  --basic-active-grey: #D5D5D5;
  --basic-light-grey: #E1E1E1;
  --basic-red: #FB565A;
  --basic-dark-red: #E74246;
  --basic-active-red: #D7373B;
  --basic-green: #00CA74;
  --basic-dark-green: #00BC6C;
  --basic-active-green: #00AA62;
  --basic-yellow: #EFC84A;
  --basic-dark-yellow: #EAB534;
  --basic-active-yellow: #E5A722;
  --basic-white: #ffffff;

  --special: #283136;
}

/* Global */

body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);

}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Main navigation */

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  background-color: var(--basic-grey)
}

.main-nav {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
}

.site-navigation-list {
  list-style: none;
}

.site-navigation-list a {
  text-transform: uppercase;
}

.basket-nav {
  text-transform: uppercase;
}

/* User navigation */

.site-navigation-list a,
.basket-nav a {
  color: var(--basic-black);
}

.site-navigation-list a:hover,
.site-navigation-list a:focus,
.basket-nav a:hover,
.basket-nav a:focus {
  color: var(--basic-red);
}

.site-navigation-list a:active,
.basket-nav a:active {
  opacity: 0.3;
}

/* Slider*/

.slider-list {
  list-style: none;
}


.slider-list-item h3 {
  font-size: 55px;
  line-height: 55px;
  text-align: left;
}

.slider-list-item p {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: var(--special);
}

.slider-list-item.first-slider {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: var(--basic-grey);
}

.slider-list-item.second-slider {
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: var(--basic-grey);
}

.slider-list-item.third-slider {
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: var(--basic-grey);
}

/* visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* products */

.products-list {
  list-style: none;
}

.products-list-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--special);
}

.products-list-item {
  text-align: center;
}

.products-list-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

/* Promo  */

.promo-text h3 {
  font-size: 45px;
  line-height: 45px;
  text-align: left;
}

.promo-text p {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: var(--special);
}

.promo-text b {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: var(--special);
  text-transform: uppercase;
}

.promo-text-list {
  list-style: none;
}

.promo-statistics-list {
  list-style: none;
}

.promo-statistics span {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.promo-statistics-item p:first-child {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.promo-statistics-item p:nth-child(2) {
  font-size: 16px;
  line-height: 18px;
  color: var(--special);
  font-weight: 400;
}

/* partners */

.partners-list {
  list-style: none;
  text-align: center;
}

/* hidden form*/

.modal {
  display: none;
}

/* buttons */

.button {
  text-align: center;
  color: var(--basic-white);
  padding-top: 16px;
  padding-bottom: 16px;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.button-slider {
  min-width: 240px;
  box-sizing: border-box;
  padding-left: 54px;
  padding-right: 54px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.button-slider:hover,
.button-slider:focus {
  background-color: var(--basic-dark-red);
}

.button-slider:active {
  background-color: var(--basic-active-red);
}

.button-slider:active {
  color: rgba(255,255,255,0.3);
}

.button-products {
  min-width: 160px;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 39px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.button-products:hover,
.button-products:focus {
  background-color: var(--basic-dark-red);
}

.button-products:active {
  background-color: var(--basic-active-red);
}

.button-products:active {
  color: rgba(255,255,255,0.3);
}

.button-products-green {
  background-color: var(--basic-green);
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 39px;
  padding-right: 40px;
}

.button-products-green:hover,
.button-products-green:focus {
  background-color: var(--basic-dark-green);
}

.button-products-green:active {
  background-color: var(--basic-active-green);
}

.button-products-green:active {
  color: rgba(255,255,255,0.3);
}

.button-products-yellow {
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 39px;
  padding-right: 40px;
  background-color: var(--basic-yellow);
}

.button-products-yellow:hover,
.button-products-yellow:focus {
  background-color: var(--basic-dark-yellow);
}

.button-products-yellow:active {
  background-color: var(--basic-active-yellow);
}

.button-products-yellow:active {
  color: rgba(255,255,255,0.3);
}

.button-contacts {
  min-width: 219px;
  box-sizing: border-box;
  padding-left: 44px;
  padding-right: 44px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.button-contacts:hover,
.button-contacts:focus {
  background-color: var(--basic-dark-red);
}

.button-contacts:active {
  background-color: var(--basic-active-red);
}

.button-contacts:active {
  color: rgba(255,255,255,0.3);
}

/* main-footer */

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.contacts h3{
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts-number {
  color: #666666;
}

.contacts address {
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  color: #666666;
}

.social {
  text-align: center;
}

.social-list {
  list-style: none;
}


.social-item a {
  position: relative;
  display: inline-block;
  width: 78px;
  height: 78px;
  background-color: var(--basic-light-grey);
  border-radius: 50%;
}

a.logo-vk::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 27px;
  height: 16px;
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

a.logo-facebook::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 23px;
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

a.logo-instagram::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21px;
  height: 21px;
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  transform:translate(-50%, -50%);
}


.social a {
  background-color: #E1E1E1;
}

.social a:hover,
.social a:focus {
  background-color: var(--basic-dark-red);
}

.social a:active {
  background-color: var(--basic-active-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social a:active::before {
  opacity: 0.3;
}

.discount-text b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.discount-text p {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

/* Catalog */

.catalog-page h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  background-color: var(--basic-grey);
  margin: 0;
  padding: 50px 0;
  text-align: center;
}

/* main-nav */

.site-navigation-list a.is-active {
  display: inline-block;
  border-bottom: 2px solid;
  border-color: var(--basic-red);
}

/* filter*/

.filter h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.header-text {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  opacity: 0.3;
}

.catalog-filter-link.checked {
  background-color: var(basic-black);
}


.catalog-filter-link:hover,
.catalog-filter-link:focus {
  opacity: 0.6
}

.catalog-filte-link:active {
  background-color: var(--basic-black);
}


/* Templates */

.templates-cards {
  text-align: center;
}

.templates-cards ul {
  list-style: none;
}

.templates-card-item {
  margin-bottom: 20px;
}

.templates-card-item h3 a {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
}

.templates-card-item h3 a:hover,
.templates-card-item h3 a:focus {
  color: var(--basic-red);
}

.templates-card-item h3 a:active {
  opacity: 0.3
}

.templates-card-item p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
}

.pagination-button-active {
  min-width: 50px;
  height: 50px;
  border: 2px solid #EEEEEE;
  background-color: var(--basic-white);
  text-align: center;
  line-height: 50px;
}


.pagination-button {
  min-width: 50px;
  height: 50px;
  background-color: var(--basic-grey);
  margin-left: 11px;
  text-align: center;
  line-height: 50px;
}

.pagination-button-next {
  min-width: 260px;
  height: 50px;
  background-color: var(--basic-grey);
  margin-left: 11px;
  text-align: center;
  line-height: 50px;
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: var(--basic-dark-grey);
}

.pagination-button-active:hover,
.pagination-button-active:focus {
  background-color: var(--basic-dark-grey);
}

.pagination-button-next:hover,
.pagination-button-next:focus {
  background-color: var(--basic-dark-grey);
}

.pagination-button:active {
  background-color: var(--basic-active-grey);
}

.pagination-button-active:active {
  background-color: var(--basic-active-grey);
}

.pagination-button-next:active {
  background-color: var(--basic-active-grey);
}



/* buttons */

.button-filter {
  min-width: 260px;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 88px;
  padding-right: 89px;
  background-color: var(--basic-grey);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-black);
  box-sizing: border-box;
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--basic-dark-grey);
}

.button-filter:active {
  background-color: var(--basic-active-grey);
}

.button-filter:active {
  color: rgba(255,255,255,0.3);
}

.button-templates {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 72px;
  padding-right: 72px;
  box-sizing: border-box;
}

.button-templates:hover,
.button-templates:focus {
  background-color: var(--basic-dark-red);
}

.button-templates:active {
  background-color: var(-basic-active-red);
}
